body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #5fcf80;
    text-decoration: none;
}

a:hover {
    color: #86db9f;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}


.header-border {
    border: solid #647AA3 2px;
    margin-left: 30px;
    padding: -50px
}

.container-right p {
    font-size: 1.1em;
}

.get-started-btn-blue {
    margin-left: 22px;
    background: #647AA3;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}

.get-started-btn-blue:hover {
    background: #7E91B4;
    color: #fff;
}

.get-started-btn:hover {
    background: #3ac162;
    color: #fff;
}

.get-started-btn-square {
    margin-left: 22px;
    background: #5fcf80;
    color: #fff;
    border-radius: 10px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
}

.get-started-btn-square:hover {
    background: #3ac162;
    color: #fff;
}

.container-all {
    display: flex;
    align-items: stretch;
}

#sidebar {
    width: 250px;
    height: 150vh;
    background-color: #647AA3;
    color: white;
    transition: 1s;
}

#sidebar.active {
    margin-left: -200px;
}

.container-left {
    float: left;
}

.container-right {
    background-color: lavender;
    width: 100%;
    height: 150vh;
    text-align: center;

}

.collapse-btn {
    position: relative;
    top: 1%;
    left: 200px;
    background-color: #647AA3;
    color: white;
    border: none;
    font-size: 30px;
    padding: 5px;
}

.collapse-btn:hover {
    background-color: #647AA3;
    transition: 0.4s;
}

#sidebar p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: aliceblue;
}

#sidebar ul li a:hover {
    color: #5fcf80;
    background: #fff;
}

.fa-solid {
    float: right;
}

.fa-brands {
    float: right;
}

ul ul li a {
    background-color: #7E91B4;
    font-size: 20px;
    font-style: italic;
}

.span-style {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    vertical-align: bottom;
}

#sidebar h1 {
    text-align: center;
    font-style: italic;
    padding: 10px;
}



@media (max-width:600px) {
    #sidebar {
        margin-left: -100px;
        width: 150px;
        font-size: 20px;
    }

    .collapse-btn {
        position: relative;
        top: 1%;
        left: 110px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #sidebar ul p {
        font-size: 15px;
    }
}